/* Write your code here. */
.coffee-options-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 80vw;
}
.question-container {
  display: flex;
  flex-direction: column;
}
.coffee-question-heading {
  color: #2e353d;
  font-size: 25px;
}
